@font-face {
    font-family: "Museo";
    src: url(/assets/fonts/Museo300-Regular.otf) format("opentype");
}

body {
    font-family: "Museo"; 
    background:left top url(../assets/ui/bg.jpg) repeat #EBEBEB;
    color: black;
    font-family: Verdana,sans-serif;
    margin: 0;
}

h1 {
    font-size: 1.4em;
}

.error { color: red; }
.success { color: green; }
.ajaxResp, .noname { display: none; }

.hidden { display: none; }

.neon { font-family: "Museo"; color:#fff; }
.neon.pink { text-shadow: 0 0 10px #FFFFFF, 0 0 20px #FFFFFF, 0 0 30px #FFFFFF, 0 0 40px #FF00DE, 0 0 70px #FF00DE, 0 0 80px #FF00DE, 0 0 100px #FF00DE, 0 0 150px #FF00DE; }
.neon.blue { text-shadow: 0 0 5px #FFFFFF, 0 0 10px #FFFFFF, 0 0 15px #FFFFFF, 0 0 20px #2393ff, 0 0 30px #2393ff, 0 0 40px #2393ff, 0 0 50px #2393ff, 0 0 60px #2393ff; }

button, .button {
    border: solid 3px #2393ff;
    border-radius: 5px;
    background: transparent;
    padding: 5px 20px;
    font-size: 1.2em;
    margin: 0;
    color: #fff;
    text-shadow: 0 0 5px #FFFFFF,
        0 0 10px #FFFFFF,
        0 0 15px #FFFFFF,
        0 0 20px #2393ff,
        0 0 25px #2393ff,
        0 0 30px #2393ff,
        0 0 35px #2393ff,
        0 0 40px #2393ff;
}

button:hover, .button:hover {
    border-width: 2px;
    margin: 1px;
    text-shadow: 0 0 5px #FFFFFF,
        0 0 10px #FFFFFF,
        0 0 15px #FFFFFF;
}

#overlay {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 9000;

    background: #111;
    opacity: 0.5;
}

#finish {

    display: none;
    position: absolute;
    left: 50%;
    top: 300px;
    width: 300px;
    margin-left: -150px;
    z-index: 9001;

    background-color: #000;
    opacity: 1;
    border: 2px solid #2393ff;
    border-radius: 5px;
    padding: 25px;
    color: #fff;
}

#finish label {
    display: inline-block;
    width: 100px;
    margin-right: 10px;
    text-align: right;
}

#finish .title { text-align: center; }

#finish input {
    border: 1px solid #2393ff;
    border-radius: 3px;
    background: #000;
    color: #fff;
    padding: 2px;
}

/* HUD */
.gf-hud {
    color: #FFF;
    font-style: italic;
    text-align: center;

    /*height: 150px;
    top: -275px;

    width: 700px;
    left: 50%;
    margin-left: -350px;
    position: absolute;

    display:none;
    z-index: 100;*/
}

.gf-hud-item.gf-hud-health {
    /*background: left top url(../assets/ui/magic_meter.png) no-repeat;*/
    border-top: solid 1px #CCC;
    border-radius: 4px 4px 0 0;
    width: 1024px;
    height: 32px;
}

.gf-hud-item.gf-hud-health-value {
    background: rgb(200, 0, 15);
    border-radius: 4px 4px 0 0;
    height: 32px;
}

.gf-hud-item.gf-hud-mute {
    width: 17px;
    height: 16px;
    background: left top url(/assets/ui/mute.png) no-repeat transparent;
    cursor: pointer;
}

.gf-hud-item.gf-hud-mute.paused {
    background-position: -17px top;
}

/* Main game area */
#game-container {
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    height: 1px;
    width: 100%;
    overflow: visible;
    text-align: center;
    visibility: visible;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#game {
    height: 768px;
    left: 50%;
    margin-left: -512px;
    position: absolute;
    top: -384px;
    width: 1024px;
    background:center top url(/assets/ui/starworld1.gif) #000;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    /*display: none;*/
}

#game canvas {
    /*display: block;*/
    height: 768px;
    left: 0;
    margin: 0;
    position: absolute;
    top: 0;
    width: 1024px;
}

/* Menu */
#menu {
    height: 768px;
    left: 50%;
    margin-left: -512px;
    position: absolute;
    top: -384px;
    width: 1024px;
    text-align: center;
}

#menu > h1 { font-size: 5.0em; }
#menu > h2 { font-size: 1.5em; }

#leaderboard {
    margin: 0;
    padding: 0;

    counter-reset: li;
    list-style: none;
}

#leaderboard > li > span:before {
    content: counter(li) ")";
    counter-increment: li;
    position: relative; 
    left: -0.5em;
    text-shadow: 0 0 5px #FFFFFF,
        0 0 10px #FFFFFF,
        0 0 15px #FFFFFF,
        0 0 20px #2393ff,
        0 0 25px #2393ff,
        0 0 30px #2393ff,
        0 0 35px #2393ff,
        0 0 40px #2393ff;
}

#gl-error { margin: 0.5em; }